@import "./base/normalize";
@import './base/fonts';

html {
    font-size: 14px;
    @media (max-width: 780px) {
      font-size: 13px;
    }
    @media (max-width: 660px) {
      font-size: 11px;
    }
    @media (max-width: 410px) {
      font-size: 9px;
    }
  }

  body {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgb(211, 23, 23) 50%, rgb(214, 149, 58) 100%);
    position: relative;
  }

 